@(roomName: String, msgs: Seq[Message], users: Set[User])(implicit lang: Lang, request: RequestHeader)

@main("ZenChat") {

  <header>
    <h1><a href="/">ZenChat</a></h1>
    <button id="allow-notifications">allow notifications</button>
  </header>
  <section>
    <p>Users: @users.toSeq.map(_.name).mkString(", ")</p>
  </section>
  <section id="messages" class="messages">
  </section>
  <section class="input row-fluid">
    <form id="input-form" action="/messages" method="POST" autocomplete="off">
      <div class="input-append span10 offset1">
        <input class="span11" name="text" id="input" autofocus="true" type="text">
        <button class="btn" type="submit">Send!</button>
      </div>
    </form>
  </section>
  <footer class="main-footer">
    <p>Copyright © 2013 All Rights</p>
  </footer>
  <script type="text/javascript">
      $(function(){
          var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
          var socket = new WS("@routes.Application.chat(roomName).webSocketURL()")
          window.ZenChat.initSocket("@roomName", socket);
          window.ZenChat.initAjaxPost();
          @for(msg <- msgs) {
            window.ZenChat.displayMessage(@{
              implicit val format = models.MessageJsonFormat
              Html(play.api.libs.json.Json.toJson(msg).toString)
            });
          }
          window.ZenChat.scrollToBottom();
      });
  </script>
}
